POSTGRES_DB=movies_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=some_password
POSTGRES_HOST=postgres_cinema

PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

MAILHOG_USER=admin
MAILHOG_PASSWORD=some_password
MAILHOG_API_PORT=8025

EMAIL_HOST=mailhog_cinema
EMAIL_PORT=1025
EMAIL_HOST_USER=testuser
EMAIL_HOST_PASSWORD=test_password
EMAIL_USE_TLS=False

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=some_password
MINIO_HOST=minio-cinema
MINIO_PORT=9000
MINIO_STORAGE=cinema-storage

SECRET_KEY_ACCESS=5f4dcc3b5aa765d61d8327deb88
SECRET_KEY_REFRESH=8e7f6a5d4c3b2a1f0e9d8c7b6a
JWT_SIGNING_ALGORITHM=HS256

REDIS_HOST=redis_cinema
REDIS_PORT=6379

CELERY_BROKER_URL=redis://redis_cinema:6379/0
CELERY_RESULT_BACKEND=redis://redis_cinema:6379/1
CELERY_TIMEZONE="Europe/Kyiv"
